@charset"utf-8";


/** Responsive BreakPoints
--------------------------------------------------*/
@media screen and (max-width: 800px){
		#wrapper	{
			margin:auto;
			width:96%;
}
		
}
@media screen and (max-width: 480px){

		#wrapper	{
			margin:auto;
			width:100%;
	/*		background-color: #DD0D11; */
}
		header {
  			width: 100%;
    		/*	background-color: red;*/
			margin-bottom: 15%;
}
}
		header h1	{
			font-size: 2.6em;
  			/* text-align: center; */
    			color: #000;
    			position: absolute;
    			top: 83%;
    			left: 5%;
}

		#top 	{
			width: 100%;
			flex-direction: column;
}
		#top_img p {
   			line-height: 1em;
    			text-align: center;
    			font-size: 2em;
    			width: 100%;
    			font-style: italic;
    			font-weight: 75%;
    			/* padding-top: 8.7%; */
    			color: #fff;
    			background-color: #008000;
    			opacity: 0.5;
    			position: absolute;
    			left: 0;
    			top: 10%;
}
		#top section {
    			margin: 1.8%;
   			margin: 0 auto;
    			width: 65%;
}
		#under 	{
			width:100%;
			flex-direction:column;
}
		#under section {
  			margin-bottom: 1.8%;
    			width: 65%;
    			margin: 0 auto;
}
/*-----------------サブページ---------------*/		
		#header {
    			text-align: center;
    			margin: 5%;
}
		
		#zindaizi {
    			width: 93%;
    			margin: 5% auto;
    			text-align: center;
}	
		iframe	{
			width:85%;
}

}

