html, body, div, ul {
	margin: 0;
	padding: 0;
}
body {
	color: #666;
	background: ghostwhite;
	font: normal 12px/28px Verdana, sans-serif;
}
#wrapper {
	width:80%;
	background: aquamarine;
	margin: auto;
}
#content {
//	width: 80%;
//	margin: 20px auto;
//	background: #FFF;
}
section {
	width: 81%;
	margin: 20px auto;
	background: #FFF;
}
section img {
	margin: 1%;
}
h1 {
	margin: 30px 0 15px 0;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
}

h1 span {
	font-size: 50%;
	letter-spacing: -0.05em;
}
