@charset"UTF-8";



#menu {
	width: 100%;
/*	max-width: 960px; */
	max-width: 800px;
	margin:0 auto;
	padding: 0;

}
#menu li{
	justify-content:space-between;
	display: block;
	float:left; 
	width: 13%;
	margin:10px 14px; 
	padding: 0; 
}
#menu li a {
	display: block;
	line-height: 2.8em;
//	padding: 20px 0 20px;
	background-color: mediumseagreen;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	border:1px solid ghostwhite;
}
#menu li a:hover{
	background: tomato;
}
#menu li ul {
	display: none;
	width: 80%;
}

#menu li:hover ul {
	display: block;
	position: absolute;
	padding: 0;
	z-index: 10;
}

#menu li ul li {
	float: none;
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}

/*#aside_menu {
/*	width: 100%; */
/*	max-width: 960px; */
/*	max-width: 200px; */
/*	margin:0 auto; */
/*	padding:0; */

}


#toggle {
	display: none;
}

/* 画面サイズが768px以下の場合に適用 */
@media only screen and (max-width: 768px) {
	#menu li {
//		width: 10%;
		border-bottom: 1px solid ghostwhite;
	}
}

/* 画面サイズが480px以下の場合に適用 */
@media only screen and (max-width: 480px) {
	#menu {
		display: none;
	}
	#menu li {
		width: 100%;
	}
	#toggle {
		display: block;
		position: relative;
		width: 100%;
		background: royalblue;
	}
	#toggle a{
		display: block;
		position: relative;
		padding: 20px 0 20px;
		border-bottom: 1px solid ghostwhite;
		color:#FFF;
		text-align: center;
		text-decoration: none;
	}
	#toggle:before {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		width: 30px;
		height: 30px;
		margin-top: -15px;
		background: #FFF;
	}
	#toggle a:before, #toggle a:after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		width: 30px;
		height: 6px;
		background: hotpink;
	}
	#toggle a:before {
		margin-top:-9px;
	}
	#toggle a:after {
		margin-top: 3px;
	}
}
