@charset"utf-8";


/** Responsive BreakPoints
--------------------------------------------------*/
@media screen and (max-width: 800px){
		#wrapper	{
			margin:auto;
			width:96%;
}
		
}
@media screen and (max-width: 500px){

		#wrapper	{
			margin:auto;
			width:100%;
	/*		background-color: #DD0D11; */
}
		header h1	{
			font-size:1.5em;
			text-align:center;
			color: #000;
}

		#top 	{
			width: 100%;
			flex-direction: column;
}
		#under 	{
			width:100%;
			flex-direction:column;
}

		header	{
			width:59.8%;
}
		header h1	{
			width:59.8%;
			font-size:0.5em;
			color:#000;
}

}

