@charset "utf-8";

@media screen and (max-width: 480px){

h2 {
    clear: both;
    font-family: bold;
    margin: 5% 0 5% 0;
    font-weight: 4em;
    font-size: 2em;
    text-align: center;
    /* padding: 6%; */
    background-color: #fff:;
}

th, td {
    padding: 9px;
    border: solid 1px #000;
    border-spacing: 0;
    font-size: 1em;
    font-weight: 600;
    /* line-height: 1.5em; */
}
}